

body {
    height: 100%;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
    letter-spacing: .5px ;
}
.bg-image {
    background-image: url("./images/bg-pc.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.gridbox{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}
header, footer{
  width: 100vw;
    height: 10vh;  
}
section{
 width: 100vw;
 height: 80vh;   
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 10px;
    padding-bottom: 10px;
 
}
.menu h1{
    font-size: 3em;
    font-weight: bolder;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

.conteudo {
    display: -webkit-flex;
    display: flex;
    flex-grow: 1 ;
  }
    .column1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .column2{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .column3{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
img{
    padding-top: 1em;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center; 
}
